.navbar {
  background-color: transparent !important; /* Sfondo trasparente */
  font-family: 'Poppins', sans-serif; /* Applica Poppins */
  padding: 15px 20px; /* Margini interni */
  position: absolute; /* Fissa la navbar in alto */
  top: 0; /* Posiziona la navbar all'inizio della pagina */
  left: 0; /* Allinea la navbar a sinistra */
  width: 100%; /* Occupa l'intera larghezza */
  z-index: 100; /* Assicura che sia sopra tutto */
}


.custom-navbar-link {
  color: white !important;
  font-weight: 300;
  font-size: 25px;
  margin-right: 20px;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.orari{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;

  }

