/* =========================== */
/*        Navbar Styles        */
/* =========================== */

.navbar {
  background-color: transparent !important; /* Sfondo trasparente */
  font-family: 'Poppins', sans-serif; /* Font Poppins */
  padding: 15px 20px; /* Margini interni */
  width: 100%; /* Larghezza piena */
  z-index: 100; /* Sopra altri elementi */
  position: absolute !important;
  top: 0;
  padding-left: 0px;
}

.custom-navbar-link .nav-link {
  color: white !important;
  font-weight: 300;
  font-size: 25px;
  margin-right: 20px;
}

/* =========================== */
/*    Shimmer Link Effects     */
/* =========================== */

.shimmer-link {
  position: relative;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  transition: color 0.5s ease;
}

.shimmer-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.shimmer-link:hover {
  color: #ffffff;
}

.shimmer-link:hover::after {
  opacity: 1;
  animation: shimmer-animation 2s linear infinite;
}

/* Animazione shimmer */
@keyframes shimmer-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* =========================== */
/*        Toggle Icon          */
/* =========================== */

.toggle-icon {
  color: #ffffff;
  font-size: 2.5rem;
  border: none; /* Rimuove il bordo */
  outline: none; /* Rimuove contorni */
  box-shadow: none; /* Rimuove ombre */
  transition: transform 0.3s ease-in-out;
}

.toggle-icon.rotated {
  transform: rotate(45deg); /* Rotazione quando la navbar è espansa */
}

/* =========================== */
/*     Responsive Styles       */
/* =========================== */

/* Media query per schermi piccoli */
@media screen and (max-width: 768px) {
  .custom-navbar-link {
    text-align: left;
  }

  .navbar-toggler {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
  }

  .container {
    margin-left: 0px;
    text-align: start;
    justify-content: start;
    padding-left: 0px;
  }

  .navbar-toggler {
    padding-left: 0px;
  }

  .custom-navbar-link .nav-link {
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
  }
}

/* Media query per schermi medi */
@media screen and (min-width: 769px) and (max-width: 1000px) {
  .orari {
    display: none;
  }
}
