.page-not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #121212; /* Colore di sfondo scuro */
    color: #ffffff; /* Testo bianco */
  }
  
  .page-not-found h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .page-not-found p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .go-back-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white; /* Colore del pulsante */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-back-btn:hover {
    background-color: white ; /* Colore del pulsante quando si passa sopra */
    transform: scale(1.1);
  }
  