*{user-select: none;}

h1, h2, h3 {
  font-weight: 700; /* Titoli più spessi per maggiore impatto */
}

p {
  font-weight: 300; /* Testo normale più sottile per leggibilità */
  line-height: 1.6; /* Migliora la leggibilità */
}

body {
  background-color: #121212 !important;
}


*,
*::before,
*::after {
  box-sizing: border-box; /* Assicura che padding e bordi siano inclusi nelle dimensioni degli elementi */
}

body, html {
  overflow-x: hidden; /* Evita lo scroll orizzontale su tutta la pagina */
  margin: 0;
  padding: 0;
  width: 100%; /* Assicura che il body non superi la larghezza dello schermo */
}


